.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .logo-animation {
      font-size: 48px;
      color: white;
      font-weight: bold;
      animation: fadeInOut 1.5s ease-in-out infinite;
    }

    .title {
        padding-top: 20px;
        color: #354180;
        h3 {
            text-align: left;
            margin-top: -15px;

            @media only screen and (max-width: 992px) {
                margin-top: -5px;
              }
        }
    }



    .preloader-img {
        position: relative;
        width: 220px;
        height: 220px;
        z-index: 100;

        @media only screen and (max-width: 992px) {
            width: 130px;
            height: 130px;
          }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 100;
        }
    }
  }
